body {
	padding-top: 25px;
	background-color: #673ab7;
	font:13px/1.231 arial,helvetica,clean,sans-serif;
}
table {
	border-collapse: collapse;
	width: 90%;
	text-align: center;
	margin: auto;
	/*Need to make this scroll if it's too long*/
}
table,th,td {
	border: 1px solid black;
}
td {
	width: 15%;
}
#battlefinder {
	padding: 10px;
	border-radius: 10px;
	margin: auto;
	width: 600px;
	height: 600px;
/* 
I intend to put in js that will change these values if the screen's too small at some point
However right now my phone's broken, so I'll put this in when I can test the results.
Should be relatively easy to code using document.body.clientWidth etc. though.
*/
	background-color: #fcfcff;
}
div {
	margin: auto;
	text-align: center;
}
#messages {
	height: 500px;
	max-height: 500px;
	width: 75%;
	overflow-y: auto;
}
.pm {
	text-align: left;
}
.ownpm {
	text-align: left;
	background-color: #e3e3ff;
}
