body {
	padding-top: 15px;
	background-color: #673ab7;
	font: 13px/1.231 arial,helvetica,clean,sans-serif;
	margin: auto;
}
#intro {
	font-size: 20px;
	font-weight: bold;
	color: #673ab7;
}
table {
	text-align: center;
	margin: auto;
	/*Need to make this scroll if it's too long*/
}
#Requests {
	width: 90%;
	border-collapse: collapse;
}
#Requests table, #Requests th, #Requests td {
	border: 1px solid black;
}
#Requests td {
	width: 15%;
}
#menu {
	width: 600px;
	font-weight: bold;
	font-size: 15px;
	padding-bottom: 10px;
}
#menu a{
	text-decoration: none;
	color: black;
}
.widemenu {
	width: 250px;
}
.narrowmenu {
	width: 100px;
}
img {
	height: 100px;
}
#battlefinder {
	padding: 10px;
	border-radius: 10px;
	width: 600px;
	height: 600px;
	background-color: #fcfcff;
	overflow-y: auto;
}
div {
	margin: auto;
	text-align: center;
}
#messages {
	height: 500px;
	max-height: 500px;
	width: 75%;
	overflow-y: auto;
}
.pm {
	text-align: left;
}
.ownpm {
	text-align: left;
	background-color: #e3e3ff;
}
