body {
	padding-top: 25px;
	background-color: #673ab7;
	font:13px/1.231 arial,helvetica,clean,sans-serif;
}
table {
	border-collapse: collapse;
	width: 80%;
	text-align: center;
	margin: auto;
}
table,th,td {
	border: 1px solid black;
}
td {
	width: 15%;
}
#battlefinder {
	padding: 10px;
	border-radius: 10px;
	margin: auto;
	width: 50%;
	height: 600px;
	background-color: #fcfcff;
}
div {
	margin: auto;
	text-align: center;
}
#messages {
	height: 500px;
	max-height: 500px;
	width: 75%;
	overflow-y: auto;
}
.pm {
	text-align: left;
}
.pm:nth-child(even) {
	background-color: #e3e3ff;
}
